.main-page .counter {
  display: none;
}
.main-page .header {
  position: absolute;
  background-color: transparent;
}

.main-page .header a {
  color: white;
}

.main-page .header a:hover {
  color: coral;
}

.main-page__cta p {
  color: white;
  margin-bottom: 20px;
}

.main-page {
  &__header {
    text-align: center;
    margin-bottom: 40px;
  }

  &__search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 36px 10px 0px;
  }

  &__interval {
    position: absolute;
    bottom: -10px;
    left: 40%
  }

  &__search-input {
    flex: 1;
    margin-right: 10px;
    min-width: 180px;
  }

  &__cta-button {
    margin-top: 20px;
    margin-left: 10px; /* Отступ от кнопки поиска */
    background-color: #ffa726 !important; /* Цвет кнопки */
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #fb8c00 !important; /* Темнее при наведении */
    }
  }

  &__section {
    padding: 40px 20px;
    
    &--highlighted {
      background-color: #fafafa;
      margin-bottom: 40px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  &__card {
    width: 300px;
  }
}

.main-page__banner {
  position: relative;
}

.play {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play a {
  position: relative;
  display: inline-block;
}

.play a .MuiSvgIcon-root {
  z-index: 1;
  position: relative;
}

.play:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px; /* Увеличить размер до больше чем иконка */
  height: 160px;
  background-color: rgba(249, 171, 48, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 0;
  opacity: 0.8;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.main-page__cta {
  position: absolute;
  bottom: 50px;
  width: 100%;

}

h1 {
  color: white;
  font-weight: 700 !important;
}

.main-page__card-image {
  width: 100%; /* Изображения будут занимать всю ширину контейнера */
  height: 200px; /* Фиксированная высота для всех изображений */
  object-fit: cover; /* Сохраняет пропорции изображения, обрезая его по краям при необходимости */
  border-radius: 8px; /* Необязательно: добавляет скругленные углы, если нужно */
}


