
.card-component {
    width: 300px;
    cursor: pointer;

    &__image {
        width: 100%; /* Изображения будут занимать всю ширину контейнера */
        height: 200px; /* Фиксированная высота для всех изображений */
        object-fit: cover; /* Сохраняет пропорции изображения, обрезая его по краям при необходимости */
        border-radius: 8px; /* Необязательно: добавляет скругленные углы, если нужно */
    }
}